<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Mac 1</title>
    <link rel="stylesheet" href="main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <main>

         <header>
            <img src="/templates/images/logo.png" alt="logo">
            <div  class=header>
                <p>Порада від Ямі</p>
                <p>Мої улюблені солодощі</p>
            </div>
         </header>
        <section >
                <article>
                    <h1>YUMMI</h1>
                    <h1>PUG</h1>
                    <p>Всім привіт, я Ямі і я мопс, який дуже сильно полюбляє солодощі.
                        Сьогодні я розкажу вам, чому саме солодощі і чому вони так важливі в нашому житті.
                        Доречі, моє імʼя з англійської мови перекладається як “Смачний”.
                    </p>
                    <div>Мої улюбленні солодощі</div>
                </article>
                <img src="/templates/images/dog.png" alt="dog">
        </section>

    <section>
        <article>
            <h1>МОЇ УЛЮБЛЕННІ <span style="color:#774E2E">СОЛОДОЩІ</span></h1>
            <div class="container">
                <div>
                    <img src="/templates/images/candy1.png" alt="candy1">
                    <h2>Червоний мак</h2>
                    <p>Пралене з додаванням карамельної крихти, пасти ядер горіхів фундука та мигдалюпокрите шоколадною глазурʼю</p>
                </div>
                <div>
                    <img src="/templates/images/candy2.png" alt="candy2">
                    <h2>Сливки-ленивки</h2>
                    <p>Світлі вафельні листи, поєднані молочно-вершковою начинкою та покриті глазур’ю.</p>
                </div>
                <div>
                    <img src="/templates/images/candy3.png" alt="candy3">
                    <h2>Ліщина</h2>
                    <p>Праліне з додаванням подрібненої та тертої ліщини та мигдалю, покрите шоколадною глазур’ю.</p>
                </div>
            </div>
        </article>

    </section>
    <section>
        <article>
            <div class="box" >
                <h1>ПОРАДА - <span style="color:#774E2E;">ВІД YUMMY</span></h1>
                <p>З'ївши чергову шоколадку, ви не просто набираєте трохи додаткових калорій, але покращуєте тим самим роботу мозку, настрій і стаєте трішки добрішим. Вирішивши поласувати шоколадкою, віддавайте перевагу саме чорному шоколаду з високим вмістом какао-бобів. У цьому вигляді шоколаду менше жиру і цукру, ніж в молочному шоколаді, але зате магнію, кальцію, заліза, білка, антиоксидантів і вітамінів предостатньо.</p>
                <h3>Солодощі, які радить їсти Ямі:</h3>
                <ul>
                    <li>Чорний шоколад</li>
                    <li>Зефір</li>
                    <li>Пастила</li>
                    <li>Мармелад</li>
                    <li>Мед</li>
                    <li>Халва</li>
                    <li>Цукати</li>
                </ul>
            </div>
            <img src="/templates/images/dog2.png" alt="dog2">
        </article>

    </section>
</main>
<footer>
    <div class="footer">
        <img src="/templates/images/logo.png" alt="logo">
        <p>Приєднуйся і живи зі мною у світі солодощів!</p>
    </div>
</footer>
</body>
</html>